* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(245, 223, 77);
}